#cloud-config
runcmd:
  - {{ yumupdate if patch == "True" else "# No yum update Selected" }}
  - {{ dumpdisks if adddisk and adddisk != 'False' else "# No Additional Disks to mount"}}
  - mkdir /vra_automation
  - mount -o nfsvers=3 st1-isiprod01.nfs.corp.pvt:/ifs/st1-isiprod01/nfs/vra_automation /vra_automation
  - /vra_automation/scripts/main2.sh | tee -a /var/log/vra_automation.log
  - {{ mountdisks if adddisk else "# No Additional Disks to mount" }}
  - {{ cohesity_install if cohesity else "# Cohesity Agent not Selected" }}
  - {{ automount_homedir if automount else "# Automount not Selected" }}
  - {{ fyptools_install if fyptools else "# fYP Tools not Selected" }}
  - echo "HOSTNAME - {{ vm }}" >> /etc/cmdb.txt
  - echo "BUILD DATE - {{ date }}" >> /etc/cmdb.txt
  - echo "ENVIRONMENT - {{ type }}" >> /etc/cmdb.txt
  - echo "BUILT BY - {{ builtby }}" >> /etc/cmdb.txt
  - echo "JIRA TICKET - {{ ticket }}" >> /etc/cmdb.txt
  - echo "APP NAME - {{ appname }}" >> /etc/cmdb.txt
  - echo "APP OWNER - {{ owner }}" >> /etc/cmdb.txt
  - {{ adjoin if centrify_zone else "# Centrify Zone not selected" }}
  - {{ centrify_sshd if centrify_zone else "# fYP Tools not Selected" }}
  - /vra_automation/scripts/send_mail.sh | tee -a /var/log/vra_automation.log
  - umount /vra_automation -f
  - init 6