/* static/css/shared.css */

/* Navigation bar styling */
.active {
    background-color: #4CAF50; /* Example active color */
    color: white;
}
.content-container {
    width: 90%; /* Adjust this value as needed */
    margin: 0 auto;
}
.navbar {
    background-color: #cdd;
    overflow: hidden;
    padding: 0px 10px;
    text-align: left;
    width: 100%;
    height: 40px;
    border: none; 
    box-shadow: none;
}
.navbar a {
    display: inline-block;
    color: black;
    text-align: left;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 12px;
}
.navbar a:hover {
    background-color: #abb;
    color: black;
}
.small-label {
    font-size: 0.85rem; 
}
.custom-container {
    max-width: 90%; 
    margin-top: 20px;
}

.my-smaller-field {
    font-size: 15px;     
    height: 35px;      
    padding: 2px 18px;    
    width: 85%;        
box-sizing: border-box; 
}
#hostname_hint {
font-size: 10px; 
}
.hidden {
    display: none !important;
}
.push-down {
    margin-top: 20px; 
}


input:required:invalid {
    border-color: orange;
    background-color: #FFDAB9;
}
input:required:valid {
    border-color: green;
    background-color: #e6ffe6;
} 
select:required:invalid {
    border-color: orange;
    background-color: #FFDAB9; 
}
select:required:valid {
    border-color: green;
    background-color: #e6ffe6;
}
.small-text {
    font-size: 0.8em;
    line-height: 1.2;  /* for text box showing deployments */
}
.list-group-item {
    border: 0px solid #ddd;
    padding: 1px;
    margin-bottom: 3px;
    border-radius: 0px;
}

/* from deploy